# Виртуальное окружение
venv/
env/
ENV/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# База данных (локальная)
db.sqlite3
*.sqlite3

# Собранная статика (продакшн)
staticfiles/

# Пользовательские загруженные файлы (если будут)
media/

# Переменные окружения
.env

# IDE
.vscode/
.idea/
*.swp